<article class="entry-card">
  <div class="entry-card-inner">
    <div class="entry-card-body">
      <div class="entry-card-meta">
        {{ with index (.GetTerms "categories") 0 }}
          <span class="entry-card-tag">{{ .LinkTitle }}</span>
        {{ end }}
        <time class="entry-card-date">{{ .Date | time.Format (compare.Default "2006-01-02" .Site.Params.date_format) }}</time>
      </div>
      <h3 class="entry-card-title">
        <a href="{{ .RelPermalink }}" class="link black dim">{{ .Title }}</a>
      </h3>
      <div class="entry-card-summary nested-links">
        {{ with .Description }}
          <p>{{ . }}</p>
        {{ else }}
          {{ .Summary }}
        {{ end }}
      </div>
      <a href="{{ .RelPermalink }}" class="summary-link link dim fw6 mt3 dib">阅读全文 →</a>
    </div>
  </div>
</article>
