{{ define "main" }}
  <article class="pa3 pa4-ns mw8 center">
    <section class="measure-wide lh-copy nested-links {{ $.Param "text_color" | compare.Default "mid-gray" }}">
      {{- .Content -}}
    </section>

    <section class="mt4 mb4 taxonomy-header" aria-labelledby="taxonomy-title">
      <p class="f6 tracked ttu mid-gray mb2">{{ .Data.Singular | humanize }}</p>
      <h2 id="taxonomy-title" class="f2 mv0">{{ .Title }}</h2>
      <p class="mid-gray lh-copy mt3 mb0">这里共有 {{ len .Pages }} 篇相关文章，按时间倒序展示。</p>
    </section>

    <section class="flex-ns flex-wrap justify-around">
      {{ range .Pages.ByDate.Reverse }}
        <div class="w-100 w-30-l mb4 relative bg-white">
          {{ .Render "summary" }}
        </div>
      {{ end }}
    </section>
  </article>
{{ end }}
