{{ $featuredImage := partials.Include "func/GetFeaturedImage.html" . }}
{{ if $featuredImage }}
  {{ $featuredImageClass := site.Params.featured_image_class | compare.Default "cover bg-top" }}
  <header class="{{ $featuredImageClass }}" style="background-image: url('{{ $featuredImage }}');">
    {{ $coverDimmingClass := site.Params.cover_dimming_class | compare.Default "bg-black-60" }}
    <div class="{{ $coverDimmingClass }}">
      {{ partials.Include "site-navigation.html" . }}
      <div class="home-hero tc-l ph3 ph4-ns">
        <div class="home-hero-inner center">
          <h1 class="home-hero-title">
            {{ .Title | compare.Default .Site.Title }}
          </h1>
          {{ with .Params.description }}
            <p class="home-hero-copy">{{ . }}</p>
          {{ end }}
        </div>
      </div>
    </div>
  </header>
{{ else }}
  <header>
    <div class="{{ .Site.Params.background_color_class | compare.Default "bg-black" }} {{ if .IsHome }}home-header-shell{{ else }}home-header-shell home-header-shell--compact{{ end }}">
      {{ partials.Include "site-navigation.html" . }}
      {{ if .IsHome }}
        <div class="home-hero tc-l ph3 ph4-ns">
          <div class="home-hero-inner center">
            <h1 class="home-hero-title">{{ .Title | compare.Default .Site.Title }}</h1>
            {{ with .Params.description }}
              <p class="home-hero-copy">{{ . }}</p>
            {{ end }}
          </div>
        </div>
      {{ end }}
    </div>
  </header>
{{ end }}
